body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.App {
  display: flex;
  padding: 5px;
}
.nav-item {
  width: auto;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(210, 207, 207, 0.7);
  font-weight:600;
}
.foot {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 20px;
}
ul, a {
  display: flex;
  margin: 10px;
  list-style-type: none;
  text-decoration: none;
  color: #0e0e0e;
}
.tokyo {
  font-size: 20px;
  margin-top: 7px;
  font-family: 'RocknRoll One', sans-serif;
}
.item {
  margin: 15px;
  background-color: rgba(210, 207, 207, 0.7);
}
.dish {
  margin: 15px;
  color: #0e0e0e;
  font-size: 20px;
  }
.categories {
  margin: 15px;
  padding: 15px;
}
.logo {
  width: 95px;
  margin-left: 15px;
}
.categoryButtonSelected {
  background-color: 
  #ee2022;
  margin-top: 20px;
}
.categoryButton:hover {
  background-color: #fd4858;
}
.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  margin-top: 20px;
}
.boxBtn {
  margin-left:15px;
}
.btn {
  margin-bottom: 20px;
  border: 1px solid;
  font-size: 16px;
  padding-top: 3px;
}
.icon {
  width: 50px;
  padding: 10px;
  margin: 10px;
}
.del {
  width: 20px;
  margin-left: 40px;
}
.quantity {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: #fff;
  padding-inline: 5px;
  padding-bottom: 1px;
}
.total {
  margin-left: 4px;
  color: #0e0e0e;
  padding: 1px;
}
.basket {
  margin: 15px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 600px){
  .icon {
    width: 40px;
    padding: 0px;
    margin-left: 5px;
  }
  .logo {
    width: 95px;
    margin-left: 10px;
  }
  .item {
    margin: 3px;
  }
  .tokyo {
    font-size: 16px;
  }
  .total {
    font-size: 13px;
  }
}
@media all and (max-width: 280px){
  .item {
    margin: 0px;
  }
  .logo {
    width: 65px;
    margin-left: 0px;
  }
  p {
    font-size: 10px;
  }

}